@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
    margin:0%;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
}
/*styling the close button*/
.icon {
    color: #426780;
    cursor: pointer;
}

.icon :hover {
    background: #0d7bc5;
}

body{
    background: #ffffff;
    padding: 0 20px;
   
}

/*form page*/
.wrapper{
    max-width: 600px;
    width: 100%;
   
    margin: 20px auto;
    padding: 30px;
    
    
    
    
        background: #FFFFFF;
        border-radius: 16px;

        
    
}


/*styling for change passowrd*/
.wrapper .title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #2A2A2A;
    font-family: poppins;
    font-style: normal;
    text-align:  left ;
}

.wrapper  .form{
    width: 100%;
    
}




 

.wrapper .form .input_field{
    margin-bottom: 10px;
    display:flex;
    align-items: center;
    
}

.wrapper .form .input_field label {
    width: 200px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    padding: 10px;

}

.wrapper .form .input_field .input{
    width: 100%;
    
    border-radius: 4px;
    
    border: 2px solid #d5dbd9;
    padding: 8px 10px;
   
    background: #F6F6F6;
    height: 30px;
    top: 140px;
   
    }

.button_container{
    margin: 0px 0;
  
    
}

.button_container button{
    width: 100%;
    

    padding:  5px;
        height: 30px;
        font-size: 16px;
        border: 0;
        background: #6AA5CC;
        border-radius: 4px;
        color:  #FFFFFF;
        font-family: 'Poppins';
        font-style: normal;
        cursor: pointer;
        margin-top: 250px;
        
       
        
}

.single-row{
    width: 100%;
}

.wrapper .form .input_field:last-child{
    margin-bottom: 0;
}

.wrapper .form .button_container button:hover{
    background: #0d7bc5;
}


@media (max-width: 500px){
    .wrapper .form .input_field {
            flex-direction: column;
            align-items: flex-start;
        }


.wrapper .form .input_field label{
    margin-bottom: 5px;
}

.button_container{
    flex-direction: column;
        align-items: flex-start;
}
.button_container button {
    margin-top: 300px;
}
}





@media (min-width: 600px) {
    .wrapper .form .input_field {
        flex-direction: column;
        align-items: flex-start;
    }


    .wrapper .form .input_field label {
        margin-bottom: 5px;
    }

    .button_container {
        flex-direction: column;
        align-items: flex-start;
        
    }
    .button_container button{
        margin-top: 600px;
    }
    

    
    

}

@media (min-width: 1000px) {
    .wrapper .form .input_field {
        flex-direction: column;
        align-items: flex-start;
    }


    .wrapper .form .input_field label {
        margin-bottom: 5px;
    }

    .button_container {
        flex-direction: column;
        align-items: flex-start;

    }

    .button_container button {
        margin-top: 250px;
    }




}













