@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
    --hero-background: #d9d9d9;
    --primary: #6aa5cc;
    --secondary: #426780;
    --tertiary: #a7bdcc;
    --text-black: #4b4b4b;
    --surface-color: #f3f3f4;
    --white-primary: #ffffff;

    /* typography weights */
    --font-family: "Poppins", sans-serif;
    --font-wght-1: 700;
    --font-wght-2: 600;
    --font-wght-3: 500;
    --font-wght-4: 400;
    --font-wght-5: 300;

    /* typography sizes */
    --font-size-1: 32px;
    --font-size-2: 24px;
    --font-size-3: 20px;
    --font-size-4: 16px;
    --font-size-5: 14px;
    --font-capition: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

html {
    min-width: 600;
    width: 100%;
    height: 100%;
}

body {
    background: var(--hero-background);
    font-family: var(--font-family);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: none;
    height: 100%;
}

.container {
    min-width: 600;
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    min-width: 600;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    background: var(--white-primary);
}

.card__header {
    padding: 13px 24px;
    width: 100%;
    height: 100%;
}

.links__header {
    display: flex;
    align-items: center;
    height: 64px;
}

.return i {
    font-size: 19px;
    color: var(--text-black);
    font-weight: bolder;
}

.links__title {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 30%;
}

.links__title h1 {
    text-align: center;
    color: var(--text-black);
    font-weight: 500;
    font-size: 24px;
}

.links__body {
    width: 100%;
    height: calc(100vh - 64px);
    overflow-y: auto;
}

.links {
    width: 100%;
    height: 100%;
}

.link {
    padding: 10px 0;
}

.links .link h1 {
    color: var(--text-black);
    font-size: 24px;
    font-weight: 500;
}

.links .link .added__link {
    margin: 12px 0;
    width: 311px;
    height: auto;
    border-radius: 8px;
    background: #f6f6f6;
    padding: 12px;
    word-break: keep-all;
}

.added__link h3 {
    color: var(--text-black);
    font-size: 17px;
    font-weight: 500;
}

.added__link a {
    color: #426780;
    font-size: 17px;
    font-weight: 500;
    width: 100%;
    word-wrap: break-word;
}
