@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;&display=swap");

:root {
    --hero-background: #d9d9d9;
    --primary: #6aa5cc;
    --secondary: #426780;
    --tertiary: #a7bdcc;
    --text-black: #4b4b4b;
    --surface-color: #f3f3f4;
    --white-primary: #ffffff;

    /* typography weights */
    --font-family: "Poppins", sans-serif;
    --font-wght-1: 700;
    --font-wght-2: 600;
    --font-wght-3: 500;
    --font-wght-4: 400;
    --font-wght-5: 300;

    /* typography sizes */
    --font-size-1: 32px;
    --font-size-2: 24px;
    --font-size-3: 20px;
    --font-size-4: 16px;
    --font-size-5: 14px;
    --font-capition: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 600;
    width: 100%;
    height: 100%;
}

body {
    font-family: var(--font-family);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

.page {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.screen {
    display: flex;
    flex-flow: column;
    height: 100vh;
}

.screen__container {
    display: contents;
    height: 100vh;
    padding: 12px;
}

.user__bar {
    width: 100%;
    height: 64px;
    background: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 45px 45px 45px;
    padding: 0 13px;
    border-bottom: 0.1px solid #e1e1e1;
}

.user__bar .back i {
    padding-right: 10px;
    font-size: 19px;
    color: var(--text-black);
    font-weight: bolder;
}

.user__bar .user__info {
    display: flex;
    align-items: center;
}

.user__bar .user__info .avatar img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.user__bar .user__info .chatname h3 {
    font-weight: 500;
    font-size: 18px;
    color: var(--text-black);
}

.user__bar .user__info .chatname p {
    font-size: 14px;
    color: var(--text-black);
    font-weight: 500;
    padding: 3px 0 0 0;
}

.user__bar .user__info .chatname {
    padding: 0 0 0 9px;
    cursor: pointer;
}

.conversation {
    height: calc(100vh - 149px);
    background: #e2e9ff;
    flex-grow: 1;
    padding: 0 13px;
}

.conversation .conversation__container {
    height: 100%;
    overflow-y: auto;
}

.conversation .conversation__container:after {
    content: "";
    display: table;
    clear: both;
}

.chat__message {
    width: 100%;
    height: 100%;
}

.message__date {
    padding: 15px 0 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.message__date p {
    color: var(--text-black);
    font-size: 14px;
}

.message {
    width: 100%;
    padding: 12px 0;
}

.message:after {
    content: "";
    width: 0;
    height: 0;
}

.sent {
    display: inline-block;
    align-items: center;
    word-break: keep-all;
    max-width: 70%;
    float: right;
    background: #bad2e3;
    padding: 10px;
    margin: 15px 0;
    border-radius: 10px;
    color: var(--text-black);
    font-size: 18px;
}

.received {
    display: flex;
    align-items: center;
    word-break: keep-all;
    max-width: 70%;
    float: left;
}

.received .receive__image img {
    width: 27px;
    height: 27px;
    border-radius: 50%;
    margin: 0 9px 0 0;
    position: relative;
    top: 17px;
}

.message__body__received {
    color: var(--text-black);
    background: #f4f4f4;
    padding: 10px;
    font-size: 18px;
}

.metadata .time {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    font-weight: 549;
    font-size: 13px;
    color: #426780;
}

.compose {
    width: 100%;
    height: 85px;
    background: var(--white-primary);
    /* position: fixed; */
    z-index: 99;
    padding: 0 13px;
    border: 0.1px solid #e1e1e1;
}

.compose .conversation__compose {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.compose .conversation__compose .form__input {
    display: flex;
    color: var(--text-black);
    align-items: center;
    font-size: 15px;
    font-weight: 550;
    height: 40px;
    width: 100%;
    border-radius: 8px;
    background: #f6f6f6;
    margin: 0 13px 0 12px;
    padding: 0 13px;
}

.addition i {
    color: #426780;
}

.compose .conversation__compose .form__input form {
    width: 100%;
    height: 100%;
}

.compose .conversation__compose .form__input form input {
    border: none;
    background: transparent;
    height: 100%;
    width: 100%;
    outline: none;
    font-weight: 549;
    color: var(--text-black);
    font-size: 17px;
    padding: 0 8px 0 0;
    word-break: keep-all;
}

.compose form .form__input i {
    color: var(--text-black);
}
